*{
    margin: 0;
    padding: 0;
}

nav{
    width:100%;
    height: 100px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    margin-bottom: 85px;
}

.logo{
    float: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-con{
    width: 940px;
    height: 50px;
    float: left;
}

.nav-con ul{
    list-style: none;
}

ul a{
    text-decoration: none;
}

.nav-con li{
    float: left;
    padding-right: 40px;
    padding-top: 10px;
    color:black;
    font-family:  'Fjalla One', sans-serif;
    font-size: 18px;
}

.input{
    width: 255px;
    border-radius: 30px;
    height: 50px;
    padding-left: 15px;
    border: 2px solid black;
    float: right;
}

::placeholder{
    color: black;
    opacity: 1;
}

.row{
    margin-left: 18%;
    margin-right: 18%;
}

h1{
    font-family: 'lato', sans-serif;
    font-size: 24px;
}

.col-6-left{
    background-color: lightgrey;
    width: 520px;
    height: 520px;
    margin-right: 70px;
    margin-top: 50px;
}

.block-left{
    text-align: center;
    padding-top: 35%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 64px;
    color: white;
}

.col-6-right{
    width: 565px;
}

.div-con{
    width: 100%;
    margin-bottom: 40px;
    margin-left: -10%;
}

.div-con ul{
    list-style: none;
}

.div-con li{
    float: left;
    padding-right: 40px;
    font-size: 18px;
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.col-3{
    margin-top: 10%;
}

table{
    width: 100%;
}

th{
    font-family: 'lato', sans-serif;
    font-size: 18px;
}

td{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
}

li:hover{
    curser: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.active{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}



